---
import data from "@/data/data.json";
import Card from "@/components/Card.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Astro Site</title>
	<link rel="icon" type="image/x-icon" href="/favicon.svg">
</head>
<body>
	<main>
		{data.map((cardItem:any) => (
			<Card key={cardItem.id} data={cardItem} />
		))}
	</main>
</body>
</html>