---
import type { Pricing } from '@/types/index.type'
import cards from '@/data/cardData.json'
import PricingCard from '@/components/vue/PricingCard.vue'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex items-center justify-center p-4">
    <!-- Place pricing section here -->
    <section aria-label="Pricing" class="flex gap-3">
      {
        cards.map((cardItem: Pricing) => {
          return <PricingCard pricingDetails={cardItem} client:visible />
        })
      }
    </section>
  </body>
</html>
