---
import { getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'

const teamData = await getCollection('team')
console.log('🚀 ~ teamData:', teamData)
---

<BaseLayout>
  <h1 class="text-2xl font-bold">Homepage</h1>
  {teamData.map((p) => <p>{p.data.name}</p>)}
</BaseLayout>
