---
import Heading from '@/components/ui/Heading.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')

type Props = {
  limit?: number
  headingTagName?: 'h2' | 'h3'
}

const { limit, headingTagName = 'h2' } = Astro.props
---

<div class="grid-wrapper">
  {
    projects
      .slice(0, limit)
      .map((project) => <ProjectCard headingTagName={limit ? 'h3' : headingTagName} project={project} />)
  }
</div>
