---
// assets
import avatar from '@/assets/images/avatar-kathirr007.png'
import ContactForm from '@/components/react/Contact'

// component
---

<section aria-label="Connect with Kathirr007" id="connect">
  <div class="form-wrapper">
    <div><img src={avatar.src} alt="Kathiravan K" /></div>
    <!-- contact form -->
    <ContactForm client:visible />
  </div>
</section>
