---
import '@/styles/global.css'
import BaseHead from '@/layouts/BaseHead.astro'
import Footer from '@/layouts/Footer.astro'
import BaseNav from '@/layouts/BaseNav.astro'
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <BaseNav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
