---
import Link from '@/components/ui/Link.astro'
import logo from '@@/public/logo.svg'

const navData = [
  {
    title: 'Projects',
    href: '/projects',
  },
  {
    title: 'Home',
    href: '/',
  },
  {
    title: 'Blog',
    href: '/blog',
  },
]
---

<nav>
  <ul role="list">
    {
      navData.map((navItem) => {
        const hasIcon = navItem.href === '/'

        return (
          <Link href={navItem.href} variant={hasIcon ? 'icon' : 'ghost'} aria-label={hasIcon ? navItem.title : null}>
            {hasIcon ? (
              <svg
                xmlns="http://www.w3.org/2000/svg"
                version="1.0"
                width="208.000000pt"
                height="196.000000pt"
                viewBox="0 0 208.000000 196.000000"
                preserveAspectRatio="xMidYMid meet"
                class="logo"
              >
                <g
                  transform="translate(0.000000,196.000000) scale(0.100000,-0.100000)"
                  fill="currentColor"
                  stroke="none"
                >
                  <path d="M924 1879 c-43 -45 -125 -129 -181 -187 -57 -58 -103 -107 -103 -110 0 -10 -420 -422 -430 -422 -5 0 -10 -6 -10 -13 0 -7 -31 -44 -70 -82 -38 -38 -70 -75 -70 -81 0 -6 29 -38 65 -72 35 -33 70 -71 76 -85 6 -13 29 -39 51 -58 50 -42 346 -336 453 -449 44 -47 92 -92 106 -100 15 -8 45 -37 67 -65 22 -27 60 -70 85 -94 l46 -44 93 95 c51 53 132 136 179 184 48 49 198 199 333 334 135 134 246 245 246 247 0 2 16 17 35 34 40 36 45 50 13 41 -22 -5 -256 -228 -412 -391 -45 -47 -127 -131 -183 -187 -57 -56 -103 -107 -103 -113 0 -6 -12 -18 -27 -28 -42 -25 -93 -75 -93 -90 0 -8 -10 -17 -22 -22 -13 -5 -31 -18 -41 -28 -17 -20 -19 -18 -117 79 -55 54 -100 100 -100 102 0 4 -358 363 -421 422 -24 22 -46 45 -48 50 -2 5 -11 14 -20 21 -9 6 -16 17 -16 25 0 7 -5 13 -11 13 -5 0 -48 37 -95 83 -46 45 -90 82 -96 82 -18 0 -16 17 2 23 8 4 28 25 45 48 17 23 44 51 60 61 17 10 39 32 50 50 11 18 25 33 32 33 7 0 12 9 10 19 -2 10 2 16 8 14 7 -2 56 41 109 96 53 54 97 98 99 97 2 -2 6 0 10 3 3 3 0 6 -7 6 -7 0 -10 4 -6 10 3 5 11 7 18 5 7 -3 21 8 31 24 11 16 32 36 47 45 16 9 38 34 50 55 12 22 27 37 34 35 7 -3 15 6 19 21 8 31 36 78 43 71 3 -2 -3 -16 -13 -30 -24 -38 -8 -45 24 -12 15 16 21 26 15 22 -18 -10 -16 9 2 24 8 7 15 9 15 5 0 -3 13 7 30 23 16 17 35 32 42 35 10 3 8 8 -4 18 -16 13 -15 15 8 32 16 12 24 14 24 6 0 -7 14 0 30 16 17 16 30 34 30 40 0 6 11 21 24 34 l23 22 31 -36 c17 -19 36 -35 41 -35 5 0 13 -5 17 -12 5 -7 3 -8 -6 -3 -8 5 -11 4 -6 -3 4 -6 13 -9 21 -6 8 3 20 -4 27 -16 7 -12 28 -30 46 -41 17 -12 32 -25 32 -31 0 -6 -7 -5 -17 3 -10 7 2 -8 27 -34 24 -26 49 -47 55 -47 13 0 80 -72 77 -82 -1 -5 7 -8 18 -8 31 0 24 11 -45 69 -36 30 -75 68 -87 85 -13 17 -70 77 -129 134 l-106 103 -79 -82z" />
                  <path d="M1392 1552 c-9 -6 -5 -15 16 -35 19 -18 31 -24 42 -17 15 10 10 20 -12 24 -22 3 -39 17 -33 27 7 11 4 11 -13 1z" />
                  <path d="M1527 1443 c-6 -10 10 -53 19 -53 3 0 4 6 1 14 -3 8 -1 16 5 18 6 2 4 9 -5 16 -8 7 -17 9 -20 5z" />
                  <path d="M632 1398 c-5 -76 -8 -332 -4 -315 2 9 8 17 13 17 11 0 1 -49 -13 -67 -5 -7 -5 -14 2 -18 5 -3 10 -32 10 -63 0 -87 28 -227 55 -279 14 -25 25 -52 25 -59 0 -16 57 -64 76 -64 9 0 14 11 14 30 0 20 -5 30 -15 30 -9 0 -15 9 -15 22 0 27 36 102 57 119 13 11 18 9 35 -14 11 -15 26 -27 33 -27 8 0 18 -6 22 -14 4 -8 17 -16 28 -18 11 -1 26 -9 34 -16 8 -8 23 -11 33 -9 11 3 22 -1 25 -9 3 -9 20 -14 49 -14 37 0 44 3 44 20 0 18 -15 25 -42 21 -13 -2 -122 66 -142 88 -15 16 -18 31 -14 71 4 42 17 68 69 145 35 52 69 95 76 95 7 0 16 7 21 16 18 33 168 144 229 170 35 15 63 30 63 33 -1 21 -24 33 -76 37 -32 2 -67 7 -77 10 -24 8 -130 -62 -209 -137 -89 -85 -117 -109 -126 -109 -5 0 -14 -10 -21 -22 -6 -13 -19 -35 -29 -49 -9 -14 -35 -53 -57 -87 -22 -34 -44 -62 -49 -62 -5 0 -6 19 -3 43 3 23 11 76 16 117 6 41 15 86 20 100 5 14 12 52 15 84 4 33 16 76 28 98 12 21 20 39 17 41 -2 2 -22 17 -44 34 -33 25 -45 29 -69 22 -19 -5 -41 -3 -64 6 -19 8 -35 15 -36 15 -2 0 -3 -15 -4 -32z m143 -41 c12 -10 16 -21 12 -38 -21 -84 -49 -228 -67 -346 -12 -74 -7 -96 24 -123 24 -19 58 9 119 100 91 135 322 340 385 340 33 0 26 -12 -43 -65 -101 -77 -179 -158 -240 -249 -52 -76 -59 -93 -63 -146 -4 -56 -6 -59 -24 -49 -34 18 -67 2 -100 -51 -17 -28 -32 -50 -34 -50 -2 0 -11 14 -19 31 -23 43 -43 175 -49 309 -2 63 -8 154 -12 201 -9 114 -3 137 39 142 17 2 37 5 43 5 5 1 18 -4 29 -11z" />
                  <path d="M1600 1335 c0 -8 9 -19 19 -25 27 -14 31 -13 24 8 -11 30 -43 43 -43 17z" />
                  <path d="M1760 1175 c0 -9 54 -54 64 -55 6 0 -3 14 -19 30 -27 28 -45 38 -45 25z" />
                  <path d="M1156 651 c-15 -23 7 -31 75 -29 76 3 89 12 32 21 -21 4 -52 9 -69 13 -19 3 -34 2 -38 -5z" />
                </g>
              </svg>
            ) : (
              navItem.title
            )}
          </Link>
        )
      })
    }
  </ul>
</nav>

<style>
  .logo {
    width: 40px;
    height: auto;
  }
</style>
